h1{
    color:lightseagreen;
    text-align: center;
    align-items: center;
}
h3{
    color:lightseagreen;
    text-align: center;
    align-items: center;
}
h4{
    color:chartreuse;
    text-align: center;
    align-items: center;
}
.btn1{
    color:blue;
}
#name{
    color:chartreuse;
}