body{
    background: black;
    overflow: hidden;
}
button{
    background-color: black;
    color:lightseagreen;
}
h1{
    color:#20b2aa;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) scale(2, 2);
}
h1.top{
    position: absolute;
    transform: translateX(-50%) translateY(-50%) ;
    transition: 0.5s ;
    top: 30px;
    left: 110px;
}
h2{
    color:#20b2aa;
    text-align: center;
    margin: 0;
}
h3{
    color:#20b2aa;
    text-align: center;
    align-items: center;
}
h4{
    color:#20b2aa;
}
.intro{
    color:black;
    opacity: .1%;
}
#full{
    color:#20b2aa;
    opacity: 0%;
}
#full2{
    color:#20b2aa;
    top: 50%;
    left: 50%;
    opacity: 0%;
}
#games{

    text-align: center;
}
#main{
    opacity: 0;
    transition: 0.5s;
	color: white;
	margin-top: 60px;
}
